.recipes {
  padding: 100px 80px;
  background-color: #0a2750;
  color: white;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-size: cover;
}
.recipes__title {
  max-width: 580px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}
.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 80px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  position: relative;
  margin: 0;
  padding-left: 0;
}
.recipes__video {
  display: flex;
  flex-direction: column;
}
.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 0;
  padding-bottom: 0;
}
.recipes__iframe {
  border: none;
  height: 273px;
  width: 480px;
}
.recipes__paragraph {
  margin: 0;
  margin-top: 24px;
}
